

.logo img {
    margin-left: 1%;
    margin-top: 1%;
    width: 3%;
    height: auto;
}
.Title{
    margin-top: 5%;
    font-size: 50px;
    font-family: Arial;
    margin-left: 1%;
}

.TitleColor{
    color: #1D8CDB;
}

.HeroImg{
    margin-left: 15%;
     height: 100%;
}

.HeroBlog{
    float: right;
    
}


.GetStartedbtn{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    background-color: #1D8CDB;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
}
.GetStartedbtn a{
    color: white;
    font-family: Arial;
    font-weight: 300;

}